
body {
    background-image: url("Pics/Test.jpg");
}

#form1 {
background-color: hsla(240, 100%, 99%, 0.83);
margin-left: 330px;
width: 666px;
border: solid 2px hsl(0, 0%, 0%);
}

#container > h1 {
margin-left: 150px;
background-color: hsl(0, 0%, 96%);
width: 310px;
border-radius: 5px;
}

#MessagePanel {
    color: hsl(0, 44%, 96%);
    background-color: black;
    line-height: 30px;
    text-indent: 0;
    line-height: 30px;
    text-decoration: none;
    box-shadow: 4px 4px 4px hsl(0, 3%, 1%);
    border-bottom-left-radius: 6px;
    text-indent: 0;
    display: inline-block;
}


a:link, a:visited {
background-color: hsl(0, 0%, 0%);
border-bottom-left-radius: 6px;
text-indent: 0;
display: inline-block;
color: hsl(51, 100%, 50%);
line-height: 30px;
text-decoration: none;
box-shadow: 4px 4px 4px hsl(0, 3%, 1%);
}

.KommandNamn {
padding: 3px;
}

#AventyligaValidationSummary1 {
color:red;
}